@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Belanosima&display=swap');

body{
    font-family: Architects Daughter;
    background-color: black;
    color:whitesmoke;
    text-align: center;
    padding-top: 10rem;
}
h1{
    text-size-adjust: 500%;
}

#cardResult{
    color:whitesmoke;
    background-color: darkred;
    border-color: greenyellow;  
}

button{
    color:goldenrod;
    font-weight: 800;
    background-color: white;
}

#container{
    background-color: purple;
    border: 4rem;
    color: whitesmoke;
    border-radius: 4rem;
}
