@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Belanosima&display=swap');

body{
    font-family: Architects Daughter;
    background-color: darkgoldenrod;
    color:whitesmoke;
    text-align: center;
    padding-top: 10rem;
}

#cardResult{
    color:whitesmoke;
    background-color: black;
    border-radius: 2.5rem;
}

button{
    color:goldenrod;
    font-weight: 800;
    background-color: white;
}

#container{
    background-color: purple;
    border: 4rem;
    color: whitesmoke;
    border-radius: 4rem;
}

body h1{
    height: 3rem;
    font-size: 5rem;
}